
.nav_bar{
    position:fixed;
    background-color:#001B2E;
    width:100%;
    margin-left:0;
    height:100px;
    margin-top:0;
    display:grid;
    grid-template-columns: 15% 15% 40% 15% 15%;
}
.middlepart {
    height:100px;
    display: grid;
    grid-template-rows: 50% 50%;
}
.tablinks{
    width:fit-content;
    height:fit-content;
    margin:auto;
    margin-top:-3px
}
.tablink{
    margin-top:10%;
    width: 70px;
    height:30px;
    background-color: #818791;
    border-radius:0;
    border:none;
    outline:none;
    font-family:"arial black";
    color:#001B2E;
    text-align:center;
    font-size:10px;
}
.tablink:hover {
    background-color:#a2a8b3;
    cursor:pointer;
}
.NavbarLogo {
    scale:27%;
    margin-top: -105px;
    margin-left: -90px
}

.NavbarAltLogo {
    /*scale:27%;*/
    width: 72px;
    margin:auto;
    /*margin-top: -105px;*/
    
}
.NavbarTitle {
    color:#ADB6C4;
    font-family:"arial black";
    margin-top: 35px;
    text-align: center;
    margin-left:10px;
}
.NavbarSiteName {
    color:#ADB6C4;
    font-family:"arial black";
    margin-top:35px;
    text-align:left;
}

#active{
    width: 90px;
    height:50px;
    background-color: #ADB6C4;
    font-size:90%;
}